/* footter a ver como sale*/
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: uppercase;

}

html{
    font-size: 62.5%;
}



#footer{
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Libre Baskerville', serif;

}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    i:hover{
        color: yellow;
        cursor: pointer;
    }

    .logo-container, .info, .formulario{
        display: flex;
        justify-content: center;
        margin: 1rem 3rem;
        color: #fff;
        flex:1 0 25rem ;
        flex-flow:column wrap ;

    }
    .logo-container{
        text-align: center;
        .icons{
            font-size: 3rem;
            margin: 2rem;
        }
    }
    .icons .facebook{
        color: blueviolet;
    }
    .icons .instagram{
        color:#cd5c5c;
    }
    .icons .twitter{
        color: cornflowerblue;
    }
    .icons .youtube{
        color: red;
    }
    .icons .spotify{
        color: green;
    }
    .logo{
        h1{
            font-size: 5rem;
            background: -webkit-linear-gradient(black, yellow);
            -webkit-background-clip: text;
            color: transparent;
            font-family: 'Bevan', cursive;
            -webkit-text-stroke: 1.5px yellow;
        }
    }
}
.info{
    
    i{
        margin:2rem 0;
        font-size: 3rem;
        

        &::after{
            content: attr(data-text);
            font-size: 2rem;
            margin:0 2rem ;
            font-family: 'Libre Baskerville', serif;
        }
    
    }
}
.formulario{
    h1{
        margin: 1rem 0;
        font-size: 3rem;
    }
    p{
        margin: .5rem 0;
        font-size: 1.5rem;
    }
    input[type="email"]{
        outline: none;
        border: none;
        padding: 0 1rem;
        height: 4rem;
        background: rgba(255,255,255,.2);
        color: #fff;
    }
    input[type="submit"]{
        outline: none;
        border: none;
        width: 8rem;
        height: 3rem;
        background:yellow;
        color: #fff;
        margin: 2rem 0;
        cursor: pointer;

        &:hover{
            background: rgba(255,255,255,.2);
        }
    }
    
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    html{
        font-size: 45%;
    }   
}






